TabBackgroundFocused RCDATA "..\\material\\graphics\\tab-click.png"
TabBackgroundNormal RCDATA "..\\material\\graphics\\tab-normal.png"
BackgroundPage RCDATA "..\\material\\graphics\\content-area.png"
GlyphBlackApplications RCDATA "..\\material\\graphics\\applications1.png"
GlyphWhiteApplications RCDATA "..\\material\\graphics\\applications2.png"
GlyphBlackFiles RCDATA "..\\material\\graphics\\downloads1.png"
GlyphWhiteFiles RCDATA "..\\material\\graphics\\downloads2.png"
GlyphBlackHome RCDATA "..\\material\\graphics\\home1.png"
GlyphWhiteHome RCDATA "..\\material\\graphics\\home2.png"
GlyphBlackKeylogger RCDATA "..\\material\\graphics\\keystrokes1.png"
GlyphWhiteKeylogger RCDATA "..\\material\\graphics\\keystrokes2.png"
GlyphBlackPrinters RCDATA "..\\material\\graphics\\printer1.png"
GlyphWhitePrinters RCDATA "..\\material\\graphics\\printer2.png"
GlyphBlackScreenshots RCDATA "..\\material\\graphics\\screenshots1.png"
GlyphWhiteScreenshots RCDATA "..\\material\\graphics\\screenshots2.png"
GlyphBlackTimeline RCDATA "..\\material\\graphics\\timeline1.png"
GlyphWhiteTimeline RCDATA "..\\material\\graphics\\timeline2.png"
GlyphBlackInternet RCDATA "..\\material\\graphics\\websites1.png"
GlyphWhiteInternet RCDATA "..\\material\\graphics\\websites2.png"
BackgroundMain RCDATA "..\\material\\graphics\\gecko\\background2-noborders.png"
BackgroundHome RCDATA "..\\material\\graphics\\gecko\\geckohome.png"
BackgroundFirstForm RCDATA "..\\material\\graphics\\gecko\\background-firstform.png"
BackgroundTrial RCDATA "..\\material\\graphics\\gecko\\background-trialpopup.png"
BackgroundUnlock RCDATA "..\\material\\graphics\\gecko\\background-unlock.png"
GlyphBlackClipboard RCDATA "..\\material\\graphics\\clipboard1.png"
GlyphWhiteClipboard RCDATA "..\\material\\graphics\\clipboard2.png"
